<div class="container centered">
  <div class="row">
    <h1>Let's Create A Box!</h1>
  </div>
  <div class="row">
    <div class="col-md-10">

    </div>

  </div>  


</div>





<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
    </div>
  </div>
</div>  

