// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box {
      background-color: transparent;
      border: 2px solid white;
      width: 250px;
      height: 350px;
    /*  margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 140px;*/
 }