<<<<<<< HEAD
<h1>Products</h1>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><p>Box 1</p></div>
            	<img src="">
            
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p>Box 2</p></div>
            
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p>Box 3</p></div>
            >
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p>Box 4</p></div>
            
        </div>
    </div>
</body>
=======
<h1>Products To Go Here</h1>
>>>>>>> a986d678d1c817de76da0bab5af2feb68bd52de8
