
<h1>Products</h1>
<body>
   <div class="container">
    <div class="row">
       <div class="col-md-4 box">JACKETS</div>
       <div class="col-md-4 box"> SHIRTS</div>
       <div class="col-md-4 box">PANTS</div>
    </div>
</div>


</body>
